<a href="https://colab.research.google.com/github/suntwister/analytics-lab/blob/main/task(23-06).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = 'racheal'
print("Hi", name)

Hi racheal

In [2]:
name = "Alice"
age = 29
salary = 65000

In [13]:
names = ["Alice", "Bob", "Carla", "David", "Emily"]
ages = [29, 45, 33, 41, 37]

In [6]:
print(names[-1])

Emily

In [8]:
print(f"user {names[0]} is {ages[0]} years old")

user Alice is 29 years old

In [14]:
for names,ages in zip(names,ages):
  print(f"user {name} is {ages} years old today")

user Alice is 29 years old today
user Alice is 45 years old today
user Alice is 33 years old today
user Alice is 41 years old today
user Alice is 37 years old today

In [15]:
employees = [
    {"name": "Alice", "age": 29, "gender": "Female", "department": "Sales", "salary": 65000},
    {"name": "Bob", "age": 45, "gender": "Male", "department": "HR", "salary": 72000},
    {"name": "Carla", "age": 33, "gender": "Female", "department": "Finance", "salary": 80000},
    {"name": "David", "age": 41, "gender": "Male", "department": "Sales", "salary": 58000},
    {"name": "Emily", "age": 37, "gender": "Female", "department": "HR", "salary": 70000}
]

In [24]:
#  Print every employeeâ€™s name and department
for emp in employees:
  print(f"{emp['name']} works in {emp['department']} department")

Alice works in Sales department
Bob works in HR department
Carla works in Finance department
David works in Sales department
Emily works in HR department

In [23]:
# Print names of employees older than 35
for emp in employees:
  if emp['age'] > 35:
    print(f"{emp['name']} is older than 35")

Bob is older than 35
David is older than 35
Emily is older than 35

In [26]:
# prompt: Count how many female employees there are

female_count = 0
for emp in employees:
  if emp['gender'] == 'Female':
    female_count += 1

print(f"There are {female_count} female employees.")

There are 3 female employees.

In [ ]:
# prompt: Calculate the total salary of all employees
total_salary = sum(emp['salary'] for emp in employees)
print(f"Total salary of all employees: {total_salary}")